<% if signed_in? %>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
  
<% else %>

  <div class="center hero-unit">
    <h1>Welcome to the SB Books</h1>

    <h2>
      The free web app to buy and sell textbooks at UCSB.
      <br><br>
      (Because screw the student store prices)
    </h2>

   Please <%= link_to "Register to sell", signup_path %> or use the search box above to view what others are offering.
  </div>





  <div class="row">
    <div class="span8">
      <h3>Textbook Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>






<% end %>
